module.exports = {
    "Listen": "dns://0.0.0.0:53", // 本地DNS服务器监听地址
    "Exclusive": true, // 是否独占端口
    "Timeout": 1000, // 查询时限
    "ChinaDNS": {
        Type: "dns",
        Addr: "223.5.5.5:53"
    }, // 可能被污染的DNS服务器
    "TrustDNS": {
        Type: "doh",
        URL: "https://1.1.1.1/dns-query"
    }, // 可信的 DNS 服务器
    "CDNIPRange": "ipdb/cdnip.txt", // 自整理 版本2020-02-22
    "CHNRoute": "ipdb/chnroute.txt", // IPIP.net 版本2020-01-16 github.com/17mon/china_ip_list
    "BlackList": "ipdb/gfwlist.txt", // fancyss 版本2019-02-05
    "WhiteList": "ipdb/chinalist.txt", // fancyss 版本2019-02-05
    "IpsetToAdd": "gfwlist", // 被干扰 IP 添加到的 IPSet, false 则关闭此功能
    "AutoDetectRST": true // 对未知域名自动进行HTTP(S) RST检测，关闭就全部加IPSET
}